body {
	background: url(/double-bubble-dark.png);
	font-family: Arial;
	text-align: center;
	color: white;
}

h1 {
	margin: auto;
	background-size: 75% 100%;
	background: rgba(255, 255, 255, .9);
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: black;
}

h4 {
	margin: auto;
	margin-bottom: 5px;
	padding-top: 20px;
	font-weight: normal;
	font-size: 20px;
}

form button {
	border: none;
	text-align: center;
	text-decoration: none;
	background-color: #4CAF50;
	border-radius: 2px;
	margin-top: 5px;
	color: white;
}

form input[type=number] {
  background-color: #282b30;
  color: white;
	border: none;
	border-radius: 4px;
}
